<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Computer Vision</h2>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-pytorch-original"></i>
    <img src="{{ '/assets/img/opencv.png' | prepend: site.baseurl }}" alt="OpenCV" style="width: 50px; height: 60px;">
    <img src="{{ '/assets/img/yolo.svg' | prepend: site.baseurl }}" alt="YOLO" style="width: 50px; height: 50px;">
    <p>Experienced in developing and deploying computer vision models for object detection, image classification, and medical image analysis.</p>
  </div>
  <div class="tech">
    <h2>Natural Language Processing</h2>
    <i class="devicon-pytorch-original"></i>
    <img src="{{ '/assets/img/huggingface.png' | prepend: site.baseurl }}" alt="LLM" style="width: 50px; height: 50px;">
    <p>Skilled in building NLP models for tasks like sentiment analysis, named entity recognition, and text generation using transformer architectures.</p>
  </div>
  <div class="tech">
    <h2>MLOps</h2>
    <i class="devicon-docker-plain"></i>
    <i class="devicon-git-plain"></i>
    <img src="{{ '/assets/img/triton.png' | prepend: site.baseurl }}" alt="Triton" style="width: 89px; height: 50px;">
    <p>Proficient in setting up MLOps pipelines for model training, deployment, and monitoring, ensuring scalability and reliability.</p>
  </div>
</div>